body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 20px;
}
.quiz-container {
    width: 60%;
    margin: auto;
    text-align: left;
}
h1 {
    font-size: 28px;
    margin-bottom: 20px;
}
.question {
    margin-bottom: 20px;
}
.answer {
    display: block;
    padding: 15px;
    margin: 5px 0;
    background-color: #f1f1f1;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}
.answer:hover {
    background-color: #e35658;
    transform: scale(1.02);
}
.answer.selected {
    background-color: #ffa9c9;
    font-weight: bold;
}
#progress-container {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}
#progress-bar {
    height: 100%;
    width: 0%;
    background-color: #ffa9c9;
    transition: width 0.3s;
}
button {
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    font-size: 18px;
    border: none;
    background-color: #DD4346;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
button:hover {
    background-color: #FC5356;
}
#result {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-left: 5px solid #DD4346;
}
#result h2 {
    margin: 0;
    font-size: 24px;
}
#result a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}
#result button {
    width: auto;
    background-color: #d43318;
}
#result button:hover {
    background-color: #168f40;
}